@import url('https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css');
@import url('https://cdn.jsdelivr.net/npm/prism-themes@1.1.0/themes/prism-ghcolors.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.post-full-content h1, .post-full-content h2, .post-full-content h3, .post-full-content h4, .post-full-content h5, .post-full-content h6
{
    font-family: 'Poppins', sans-serif;
}

.post-full-content {
    font-family: 'PT Serif', serif;
}

.site-nav-left {
    text-transform: none;
    font-size: 120%;
}

.site-nav-logo img {
    margin-top: -7px;
    height: 32px;
}

.nav-post-title {
    top: 11px;
}
